.navbar {
    background-color: #000;
    position: fixed;
    width: 100%;
}
.navbar .deco {
    border-top: 23px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: calc(200px );
    position: absolute;
    top: 0;
    right: 5%;
}
.content div{
    height: 100px !important;
}
.navbar .brand {

}

.container {
    padding-top: 116px;
}

@media (max-width: 575px) {
    .container {
        padding-top: 232px;
    }
}